<div class="row">
  <div class="col-md-12">
    <div class="content-title">
      <p>I<span>MAC</span>CHIATO</p>
      <p>A BLOG ABOUT MEDIA AND OTHER INTERESTING THINGS</p> 
    </div>

    <div class="content">
      <article>
        <p>So what is a Blog anyway? I am asked every week via emails, conversation and Instant Messaging chats to define: ‘what is a blog’. If you’re reading this you may well be asking the same question.<br/>
        There are a number of ways I could answer this question ranging from the broad to the highly technical.<br/>
        Before I define the ‘what is a blog’ question – here are a few definitions from other much wiser people to get us started:
        <blockquote>A weblog is a hierarchy of text, images, media objects and data, arranged chronologically, that can be viewed in an HTML browser.’</blockquote>
        <blockquote>A frequent, chronological publication of personal thoughts and Web links.’</blockquote>
        <blockquote>From “Web log.” A blog is basically a journal that is available on the web. The activity of updating a blog is “blogging” and someone who keeps a blog is a “blogger.”</blockquote>
        <blockquote>‘A weblog is kind of a continual tour, with a human guide who you get to know. There are many guides to choose from, each develops an audience, and there’s also comraderie and politics between the people who run weblogs, they point to each other, in all kinds of structures, graphs, loops, etc.’</blockquote>
        <blockquote>A blog is basically a journal that is available on the web. The activity of updating a blog is “blogging” and someone who keeps a blog is a “blogger.” Blogs are typically updated daily using software that allows people with little or no technical background to update and maintain the blog. Postings on a blog are almost always arranged in cronological order with the most recent additions featured most prominantly.’ </blockquote>
        <p><span>So What is a Blog??? Confused yet?</span> <br>
        Don’t be – its really quite simple. To put it as simply as possible – a blog is a type of website that is usually arranged in chronological order from the most recent ‘post’ (or entry) at the top of the main page to the older entries towards the bottom.
        Have a look at the main page of my blog at here for an example. for a different example you might like to look at this one (another of mine).<br/></p>
        <p>Ok – now you are a seasoned blog reader – you’ve seen two already at least.
        Blogs are usually (but not always) written by one person and are updated pretty regularly. Blogs are often (but not always) written on a particular topic – there are blogs on virtually any topic you can think of. From photography, to spirituality, to recipes, to personal diaries to hobbies – blogging has as many applications and varieties as you can imagine. Whole blog communities have sprung up around some of these topics putting people into contact with each other in relationships where they can learn, share ideas, make friends with and even do business with people with similar interests from around the world.<br/></p>
        <p>Blogs usually have a few features that are useful to know about if you want to get the most out of them as a reader. Lets examine a couple briefly.
        Archives – You might look at the front page of a blog and think that there is not much to them. A few recent entries, some links to other sites and not much else. However its worth knowing that there is a lot more going on under the surface that might initially meet the eye. For example in addition to the main page of this blog – at the time of writing this post there are over 520 other pages or posts below the surface that I’ve written over the past few months.<br/></p>
        <p>When I write a post like this one it goes to the top of the front page. As it gets older and as I add more current posts it begins its journey down the page until it disappears from it. This is not the end of its life however, because it goes into the ‘Archives’ of my blog. It sounds like a dusty dark place but its really just like a filing cabinet that is easily accessible in a couple of ways. You can read my ‘archives’ simply by looking on the ‘sidebar’ (over on the left of this blog) at the ‘archives’ or ‘categories’ section. There you will see links to all my old posts which you can access either by category. You’ll see a category for ‘Advertising’ – click that link and you’ll see all my old posts on the topic of Advertising with the most recent at the top and the oldest at the bottom.</br></p>
        <p><span>Comments</span></br> – Not all blogs use comments – but most do. This blog is not a monologue but a conversation. You can give me feedback on almost everything I write simply by clicking the ‘comments’ link at the bottom of each one of my posts. This will take you to a little form where you leave your name, email and a link to your own blog if you have one as well as your feedback, comment, critique, question, essay on why you love my blog, promise of money…. etc). Try it now. Scroll to the bottom of this page, click ‘comments’ and fill in the blanks with a little introduction to yourself.<br/></p>
        <p>A great way to learn about blogs is to read a few. Leave some comments, ask questions and bookmark your favourites. An even better way to learn about blogs is to start your own. Ok – you might be laughing at me now – you think you are not web savy enough to have your own site? You wouldn’t know where to start? You don’t know how?</p>
        <p><span>My Secret</span></br>
        Let me share a secret with you – three years ago I knew nothing about blogs, I had never used the internet for anything more than email, surfing and chatting to friends and I could only barely do any of that! But one day I discovered a blog and after surfing from one to another (blogs tend to link up to other blogs a lot) for a few hours I was hooked and wanted to start my own. I found that there are free blog services that almost anyone could set up in a matter of minutes. Really it is that simple. Literally millions of people blog from around the world. Its not just something for young people, or geeks, or cool folk, or Westerners, or even for people with their own computers – instead its something virtually anyone with access to a computer and the internet once or twice a week can start up.
        Are you still confused? Would you like more information? Below are a few helpful articles on the topic – there are many more on the web – just do a search on your favourite search engine. Otherwise shoot me an email using my ‘contact’ button with your question and I’ll do my best to get back to you.</p>
        <span>Source:<a href="http://www.problogger.net/archives/2005/02/05/what-is-a-blog/">@Problogger</a></span>
      </article>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-5">
        <%= link_to 'Visit Blog Page', '/posts', :class => 'btn btn-info btn-lg' %>
    </div>
</div>